CommerceTraining/.vs/CommerceTraining/v14/.suo
CommerceTraining/CommerceTraining/App_Data/EPiServerDB_9939dcae.mdf
CommerceTraining/CommerceTraining/App_Data/EPiServerDB_9939dcae_log.ldf
CommerceTraining/CommerceTraining/App_Data/EcfSqlConnection_065c4845.mdf
CommerceTraining/CommerceTraining/App_Data/EcfSqlConnection_065c4845_log.ldf
CommerceTraining/CommerceTraining/bin/CommerceTraining.dll
CommerceTraining/CommerceTraining/bin/CommerceTraining.pdb
CommerceTraining/CommerceTraining/obj/Debug/CommerceTraining.dll
CommerceTraining/CommerceTraining/obj/Debug/CommerceTraining.pdb
