@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.ViewModels.ShirtVariationViewModel

<img src="@Model.image"/><br/>
Price: $@Model.priceString<br/>
<br/>

Can Be Monogrammed: @Html.CheckBoxFor(m=>m.CanBeMonogrammed)

<div>
    @using (Html.BeginForm("AddToCart", "Variation"))
    {
        <div>
            Quantity: <input type="text" name="Quantity" value="1" />
        </div>
        <div>
            Monogram: <input type="text" name="Monogram" />
        </div>
        <div>
            <input type="submit" value="Add to cart" />
        </div>
    }
</div>

<div>
    @using (Html.BeginForm("AddToWishList", "Variation"))
    {
        <div>
            <input type="submit" value="Add to wishlist"/>
        </div>
    }
</div>

<div>
    Discounted price: @Html.DisplayFor(m=>m.DiscountPrice)
    Reward information: @Html.DisplayFor(m=>m.Messages)
</div>